.headerDivider {
    margin-top: 15px;
    :global(.ant-pro-card .ant-pro-card-body .ant-pro-table-list-toolbar .ant-pro-table-list-toolbar-container){
        display: block !important;
    }
    :global(.ant-pro-card .ant-pro-card-body .ant-pro-table-list-toolbar .ant-pro-table-list-toolbar-container .ant-pro-table-list-toolbar-left){
        display: block !important;
    }
}

.inputCard{ 
    border: none;
    border-radius: 0px !important;
}

.inputCard{ 
    :global(.ant-card-body) {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
}


.optionsStyle{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.iconStyle :hover{
    color: #1890FF;
};

.ellipsisStyle :hover{
    color: #e12808
};
